@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my first VS project</h1>
    <p id="my_project" onmouseover="newColor()" onmouseout="oldColor()">This is one of my favorite songs:</p>
    <iframe width="420" height="320" src="https://www.youtube.com/embed/rs6Y4kZ8qtw"></iframe>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
